<div class="container">
    <div class="row">
        <div class="col-sm-12 pull-left ">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center text-primary">Login</h2>
                    <form class="form-signin" action="/user/authenticate" method="POST" >
                        <div class="form-label-group">
                            <label for="inputEmail" class="control-label">Username</label>
                            <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required
                                autofocus>
                        </div>

                        <div class="form-label-group">
                            <label for="inputPassword" class="control-label">Password</label>
                            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" autocomplete="off"
                                required>
                        </div>
                        <br>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>

                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>